<h1>Products for <%= @category.name %></h1>
<% @category.products.order(created_at: :desc).each do |product| %>
<p> <%= product.title %> </p>
<p> <%= product.description %> </p>
<p><%= product.created_at %></p>
<% end %>


<%= link_to "Create a new product", new_product_path %>
<%= link_to "Back to Categories", categories_path %>
